[Desktop Entry]
Encoding=UTF-8
Name=Link to Configuration flags
Type=Link
URL=https://coreos.com/etcd/docs/latest/op-guide/configuration.html
Icon=text-html
