[Desktop Entry]
Encoding=UTF-8
Name=Link to etcd Cluster | Bootstrapping an etcd Cluster | CoreOS
Type=Link
URL=https://coreos.com/etcd/docs/latest/op-guide/clustering.html
Icon=text-html
