[Desktop Entry]
Encoding=UTF-8
Name=Link to etcd/contrib/systemd/etcd3-multinode at master · coreos/etcd
Type=Link
URL=https://github.com/coreos/etcd/tree/master/contrib/systemd/etcd3-multinode
Icon=text-html
