[Desktop Entry]
Encoding=UTF-8
Name=Link to etcd/hack/tls-setup at v3.2.11 · coreos/etcd
Type=Link
URL=https://github.com/coreos/etcd/tree/v3.2.11/hack/tls-setup
Icon=text-html
