[Desktop Entry]
Encoding=UTF-8
Name=Link to src/crypto/tls/generate_cert.go - The Go Programming Language
Type=Link
URL=https://golang.org/src/crypto/tls/generate_cert.go
Icon=text-html
